{% extends 'blog/base.html' %}
{% block content %}

<main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <br><br>
      <section class="text-center">
        <h4 class="mb-5"><strong>Новые посты</strong></h4>

        <div class="row">
            {% for post in post_list %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">
                                {{post.content|slice:":200" }}
                            </p>
                            <p class="card-text">
                            {{ post.author }} | {{ post.created_on}}
                            </p>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Читать</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </section>
    </div>
  </main>
{%endblock%}