{% block sidebar %}

<section class="sticky-top" style="top: 80px;">
        <!--Section: Ad-->
        <section class="text-center border-bottom pb-4 mb-4">
          <div class="bg-image hover-overlay ripple mb-4">
          </div>
          <h5>Blog by Arsen Makaov</h5>

          <p>
            Блог создан в рамках школьной практики
          </p>
          <a role="button" class="btn btn-primary" href="https://github.com/4rsen1x/DjangoPraktika"
            target="_blank">Об Авторе<i class="fas fa-download ms-2"></i></a>
</section>

{% endblock sidebar %}

